<div class="comment">
    <div class="comment-content">
        
        <p>{{this.comment_text}}</p>

        <span class="comment-header">{{this.user.username}} ➔ {{formatDate this.createdAt}} </span>
    </div>

{{#if this.isAuthor}}
        <div class="comment-actions">
            <button class="delete-comment-btn" data-id="{{this.id}}">DELETE</button>
        </div>
    {{else}}
    
    {{/if}}
</div>


    

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Define the delete button handler function
        async function delButtonHandler(event) {
            if (event.target.classList.contains('delete-comment-btn')) {
                const id = event.target.getAttribute('data-id');
                event.target.disabled = true;

                try {
                    const response = await fetch('/api/comments/' + id, {
                        method: 'DELETE'
                    });

                    if (!response.ok) {
                        const data = await response.json();
                        throw new Error(data.message || 'Failed to delete the comment. Please try again.');
                    }

                    // Remove the comment from the DOM
                    event.target.closest('.comment').remove();

                } catch (error) {
                    console.error('Error deleting comment:', error);
                    alert(error.message || 'An error occurred while processing your request.');
                }
            }
        }

        // Attach event listener to the document body to handle dynamically loaded comments
        document.body.addEventListener('click', function(event) {
            if (event.target.classList.contains('delete-comment-btn')) {
                event.stopImmediatePropagation();
                delButtonHandler(event); // Call the handler function and pass the event
            }
        });
    });
</script>
