<!-- homepage.handlebars -->

{{#each posts}}
    <div class="post" id="post-{{id}}">
    <!-- Make the post title a link to the post details page -->
    <h2><a href="/post/{{id}}/comments">{{title}}</a> - <span class="post-info">{{user.username}} | {{formatDate createdAt}}</span></h2>
    <p>{{content}}</p>
    <!-- Link to add a comment directly on the homepage -->

{{/each}}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Function to scroll to the newly created post
        function scrollToNewPost() {
            const urlParams = new URLSearchParams(window.location.search);
            const postId = urlParams.get('postId');
            if (postId) {
                const postElement = document.getElementById('post-' + postId);
                if (postElement) {
                    postElement.scrollIntoView({ behavior: 'smooth' });
                }
            }
        }

        // Call the function to scroll to the newly created post
        scrollToNewPost();
    });
</script>