<!-- profile.handlebars -->

<section id="profile-info">
    <h2 id="greeting">What’s Up, {{username}}!</h2> 
</section>

<section id="user-posts">
    <h3>Favorite Posts</h3> 
    {{#if posts.length}}
        <div id="posts-container">
            {{#each posts}}
                <div class="post" id="post-{{id}}">
                    <h2>
                        <a href="/post/{{id}}/comments">{{title}}</a> - 
                        <span class="post-info">{{user.username}} | {{formatDate createdAt}}</span>
                    </h2>
                    <p>{{content}}</p>

                    <!-- Comment Link -->
                    <a href="/post/{{id}}/comments" class="comment-link">
                        <img src="./images/comment.svg" class="comment-icon" alt="comment logo">
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>No Favorite posts yet.</p>
    {{/if}}
</section>

